accelerate
annotated-types
anyio
asttokens
beautifulsoup4
biopython
certifi
charset-normalizer
colorama
comm
contourpy
cycler
datasets>=2.18.0
debugpy
decorator
distro
dotenv
exceptiongroup
executing
fonttools
h11
httpcore
httpx
idna
importlib_metadata
ipykernel
ipython
jedi
jiter
joblib
jupyter_client
jupyter_core
kiwisolver
loguru
matplotlib
matplotlib-inline
nest_asyncio
numpy>=1.26.0
openai
packaging
pandas>=2.2.0
parso
pickleshare
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
pydantic>=2.6.0
pydantic_core>=2.16.0
pynvml
Pygments
pyparsing
python-dateutil
python-dotenv
requests
scikit-learn>=1.3.0
scipy>=1.11.0
seaborn
setuptools
six
sniffio
soupsieve
stack-data
thop
threadpoolctl
timm
torch
torchvision
tqdm
traitlets
triton
typing-inspect
typing_extensions
tzdata
urllib3
wandb
wcwidth
wheel
zipp
